.logCCDiv{
  width: calc(100% - 10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding-left: 10px;
}
.logCCDiv p{
  flex: 10;
  font-size: 14pt;
}
.painDivs{
  display: none;
  flex-direction: column;
  gap: 10px;
}
.summarySubDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.summarySubDiv label{
  font-size: 10pt;
  width: 40px;
  font-weight: bold;
}
.summarySubDiv input{
  flex: 1;
  font-size: 10pt;
}